[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt/
[submodule "external/vk-bootstrap"]
	path = external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap/
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk/
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL/
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "external/basis_universal"]
	path = external/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
